a:link {color:#333;text-decoration:none;}      /* unvisited link */
a:visited {color:#333;text-decoration:none;}  /* visited link */
a:hover {color:#555;text-decoration:none;}  /* mouse over link */
a:active {color:#333;text-decoration:none;}  /* selected link */
body,td,input,div,span,select,option,a{font-family: Arial, Helvetica, sans-serif;font-size:11px;}
body{margin: 0px;padding: 0px 0px 50px 0px;
background-color: #000;
background-size: 20px 20px;}

