.buttonLogin.button:before{display:inline-block;vertical-align:middle;width:24px;height:24px;padding:0px;opacity:1;border-radius:50%;border:0px solid #555;margin:0px 12px 0px 0px;background-size:24px 24px;background-position:0px 0px;background-repeat:no-repeat;color:#fff;font-size:18px;line-height:18px;text-align:center;}
.button.productTables:before{background-image:url('../webImages/tableIcon.png');}
.button.otherTables:before{background-image:url('../webImages/tableIcon.png');}
.button.trygosUser:before{background-image:url('../webImages/excel.png');}
.button.thesisUser:before{background-image:url('../webImages/excel.png');}
.button.discount:before{content:" % ";}
.button.newNewsLetter:before{background-image:url('../webImages/add.png');}
.button.newsLetter:before{background-image:url('../webImages/email.png');}
.dataMsg {position: fixed;left: 50%;-ms-transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);transform: translateX(-50%);top: 0px;z-index: 300;max-height: 600px;display: inline-block;overflow-y: scroll;}
.dataMsg .msgBox {min-width:600px;position:relative;display:inline-block;margin:0px auto;background:rgba(255,255,0,0.8);color:#000;padding:30px 22px;border:1px solid #ff0;font: normal normal bold 12px / 14px arial;}
.dataMsg .closeButton {content:"X";cursor:pointer;position:absolute;right:0px;top:0px;width:20px;height:20px;line-height:20px;font: normal normal bold 16px / 20px arial;padding:6px;color:#000;}
.dataMsg .loading {content:"";background:transparent url('../webImages/loading.gif') 12px 12px / 22px 22px no-repeat;height:22px;position:relative;display:inline-block;padding:12px 12px 12px 38px;}
.dataMsg .msgBox p {font: normal normal bold 12px / 14px arial;margin:0px;}


.button.export .image{background-image:url('../webImages/excel.png');}
.button.productTables .image{background-image:url('../webImages/tableIcon.png');}
.button.otherTables .image{background-image:url('../webImages/tableIcon.png');}
.button.back .image{background-image:url('../webImages/backWhite.png');}
.button.new .image{background-image:url('../webImages/add.png');}
.button.delete_selected .image{background-image:url('../webImages/delete.png');}
.button.close .image{background-image:url('../webImages/delete.png');}
.button.scrollTop .image{background-image:url('../webImages/scrollTop.png');}

.button.saveas .image{background-image:url('../webImages/copy.png');}
.button.duplicate .image{background-image:url('../webImages/copy.png');}
.button.save .image{background-image:url('../webImages/saveIconBlack.png');}
.button.update  .image{background-image:url('../webImages/saveIconBlack.png');}
.button.saveNewsletter .image{background-image:url('../webImages/saveIconBlack.png');}
.button.emailSend .image{background-image:url('../webImages/email.png');}
.button.view_filter .image{background-image:url('../webImages/edit1.png');}

.jsbutton.delete .image{background-image:url('../webImages/delete.png');}
.jsbutton.edit .image{background-image:url('../webImages/edit1.png');}
.jsbutton.photo .image{background-image:url('../webImages/select_pic.png');}
.jsbutton.accommondation .image{background-image:url('../webImages/accommondation.png');}
.jsbutton.region .image{background-image:url('../webImages/region.png');}
.jsbutton.food .image{background-image:url('../webImages/food.png');}
.jsbutton.automoto .image{background-image:url('../webImages/automoto.png');}
.jsbutton.phone .image{background-image:url('../webImages/phone.png');}
.jsbutton.activities .image{background-image:url('../webImages/activities.png');}
.jsbutton.sightseeing .image{background-image:url('../webImages/sightseeing.png');}
.jsbutton.beaches .image{background-image:url('../webImages/beaches.png');}
.jsbutton.entertainment .image{background-image:url('../webImages/entertainment.png');}
.jsbutton.nearby .image{background-image:url('../webImages/nearby.png');}
.jsbutton.attach .image{background-image:url('../webImages/select_attachment.png');}
.jsbutton.relation .image{background-image:url('../webImages/relationship_icon.png');}
.jsbutton.photo_project .image{background-image:url('../webImages/select_pic.png');}
.jsbutton.categ_project .image{background-image:url('../webImages/edit1.png');}

.jsbutton:before{position:relative;display:inline-block;width:24px;height:24px;line-height:24px;font-size:20px;text-align: center;} 

.table .jsbutton.red-button{background-color: #EF5350;color: #fff;}
.table .jsbutton.green-button{background-color:#66BB6A;color:#fff}
.table .jsbutton.red-button:hover{color: #B71C1C;background: #EF9A9A;}
.table .jsbutton.green-button:hover{color:#1B5E20;background:#C8E6C9;}

.table .jsbutton:not(.dropzoneGeneralButton),.table .previewButton {display:inline-block;padding: 8px;border-radius: 50%;background-repeat: no-repeat;background-position: center center;background-size: auto 20px;vertical-align: top;cursor: pointer;-webkit-transition: all ease 500ms;-moz-transition: all ease 500ms;-o-transition: all ease 500ms;-ms-transition: all ease 500ms;transition: all ease 500ms;}

.table .jsbutton.open:after,.table .previewButton:after{content:"";display:inline-block;position: relative;padding:0px 4px;left: 6px;width: 0;height: 0;border-top: 9px solid rgba(0, 0, 0, 0);border-left: 11px solid #333;border-bottom: 9px solid rgba(0, 0, 0, 0);}


.submenu{letter-spacing:1.2px;min-height:480px;margin:50px 20px 20px -180px;display:inline-block;vertical-align:top;z-index: 100;background: #333;position: fixed;padding:0px 0px 0px 0px;width:180px;}

.submenu .button:not(:last-child){border-bottom:1px solid #555;}
.submenu .button,.submenu .innerbutton{cursor:pointer;position:relative;display:block;vertical-align:middle;padding:6px 0px 0px 16px;margin: 0px 0px;color:#fff;font-weight:normal;
/*white-space: pre-line;*/
}
.submenu .innerbutton{margin:0px;position:absolute;left:0px;top:0px;-webkit-transform: scale(.9, .9);-moz-transform: scale(.9, .9);transform: scale(.9, .9);z-index:1;}
.submenu .button:after
{content:"";position:absolute;left:0px;width:6px;height:100%;top:0px;background-color:#4DDD8B;color:#4DDD8B;-webkit-transition: all ease 500ms;-moz-transition: all ease 500ms;-o-transition: all ease 500ms;-ms-transition: all ease 500ms;transition: all ease 500ms;}
.submenu .button:hover:after{background-color:#4DDD8B;}
.submenu .button.back:hover:after{background-color:#DD4D4D;}
.submenu .button.back:after{background-color:#552020;}
.submenu .button:after{background-color:#205528;}
.submenu .button:hover span{color:#4DDD8B;}
.submenu .button.back:hover span{color:#DD4D4D;}
.submenu  span{vertical-align:top;color:#fff;max-width:110px;text-overflow: ellipsis;overflow: hidden;font-weight: normal;display:inline-block;z-index:10;position:relative;padding: 8px 0px 8px 12px;line-height:16px;
/*    white-space: pre-line;*/

}
.submenu .button:before{display: inline-block;z-index: 10;position: relative;margin: 8px 0px;font-size:18px;line-height:24px;}
.submenu .button:hover:before{opacity:0.6;-webkit-transition: all ease 500ms;-moz-transition: all ease 500ms;-o-transition: all ease 500ms;-ms-transition: all ease 500ms;transition: all ease 500ms;}




.submenu .button .image{opacity:0.95;border-radius:6px;background-position:0px 0px;margin:0px 0px;background-size:32px 32px;background-repeat:no-repeat;display: inline-block;display:none;width: 32px;height:32px;z-index: 10;position: relative;margin: 8px 0px;}
.submenu .button.back .image{opacity:1;}
.submenu .button:hover .image{opacity:0.6;-webkit-transition: all ease 500ms;-moz-transition: all ease 500ms;-o-transition: all ease 500ms;-ms-transition: all ease 500ms;transition: all ease 500ms;}

.submenu .upBox{position:absolute;background:#333;left:0px;top:-50px;width:160px;height:50px;}
.submenu .upRightBox{position:absolute;left:160px;top:-50px;width:0px;height:0px;border-bottom:50px solid #333;border-right: 20px solid transparent;}
.submenu .bottomBox{position:absolute;left:0px;bottom:-180px;width:0px;height:0px;border-top:180px solid #333;border-right: 180px solid transparent;}

.name_of_product{float:right;color:#555;line-height:40px;font-size:24px;padding-right: 10px;}

