﻿.blackbox{position:fixed;left:0px;top:0px;width:100%;height:100%;background-color:rgba(0,0,0,0.8);z-index:1100;overflow:auto;}
.dateBox {text-align: center;display: inline-block;margin: 20px -200px;width: 400px;position: relative;left: 50%;}
.calendar {width:400px;display:inline-block;font-family: Verdana;background-color: #FFF;margin: 10px auto;border: 12px solid #101010;padding: 10px 40px;border-radius: 0px;} 
.calendar .th {font-family: Verdana;} 
a.buttonbar,a.buttonbar:link, a.buttonbar:visited {cursor:pointer;font-size: 14px;padding-top: 2px;padding-bottom: 1px;text-decoration: none;color: #FFF;line-height: 18px;}
a.buttonbar font{padding:8px;border-radius:50%;display:inline-block;width:20px;height:20px;} 
a.buttonbar:hover font{background-color:#CCCCCC;color: #FFFFFF} 
a.buttonbar:hover font.weekend{background-color:#CCCCCC;color: #f0f0f0;} 
.calendar .normal {font-family: Verdana;color: #000000;} 
.calendar .today {font-family: Verdana;font-weight:bold;color:#101010;background-color: #CACACA;} 
.calendar .weekend {font-family: Verdana;color: #a0a0a0;} 
.calendar .selected {font-family: Verdana;color: #FFFFFF;background-color:#303030;} 
.calendar .event {font-family: Verdana;color:#000000;background-color:#C6D1DC;} 
.calendar .head {color: #eee;font: Arial, Helvetica, sans-serif;font-size:14px;font-weight: 500;background-color: #101010;padding: 6px 2px;} 
.calendar .title {color: #101010;font: arial;font-size: 14px;font-weight: bold;min-width: 200px;display: inline-block;} 
.calendar .button {cursor:pointer;text-align: center;font-family: Verdana, Arial, Helvetica, sans-serif;font-style: normal;font-weight: bold;font-size: 10px;color: rgb(255, 255, 255);background-color: #101010;border: 0px solid #000066;margin: 6px 0px;cursor: pointer;padding: 8px;border-radius: 0%;}