.bodyBackground {opacity: 0.8;position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;background:transparent url('../webImages/sima.png') center center/200px auto no-repeat;}
.titleLogin{margin: 80px 0px 35px 0px;text-align: center;font-size: 16px;line-height: 20px;font-weight: bold;width: 100%;}
.titleLogin p:after{content:" ";}
.titleGeneral{display:none;background: #F8F8F8;color: #000;z-index: 100;padding: 0px;margin: 0px;font-size: 18px;line-height: 18px;font-weight: bold;border-bottom: 1px solid #CCC;}
.titleGeneral:before{vertical-align:middle;content:"";position:relative;display:inline-block;width:180px;height:40px;background:transparent url('../webImages/logo.png') center center / contain no-repeat;margin: 6px 32px;padding: 0px;}
.titleGeneral span{vertical-align:middle;display:inline-block;padding:8px 0px;}
.titleGeneral span:before{content:"ELATE";padding:4px 0px;}
.titlePage{background: #F8F8F8 url('../webImages/logo.png') 30px center / 100px auto no-repeat;color: #000;z-index: 100;padding: 8px 0px 8px 300px;margin: 0px 0px 20px 0px;font-size: 18px;line-height: 18px;font-weight: bold;border-bottom: 1px solid #CCC;}
.colorBasic{background-color:#003399;}
.colorSecond{background-color:#003399;}
.top-bg.bodyBackground{background-position: center 20px;}