﻿table.discount{border:0px solid #333;background:#fff;margin:12px;border-radius:0px;border-top:0px;}
table.discount td{min-width:100px;min-height:30px;position:relative;max-width:150px;padding:8px 12px;font-size:14px;overflow:hidden;}
table.discount tr:not(:last-child) td{border-bottom:1px solid rgba(120,120,120,0.5);}
table.discount tr:nth-child(odd) td {background:#f8f8f8;}
table.discount tr:nth-child(even) td{background:#fff;}
table.discount tr td.highlightedTD {background-color:#f0f0f0!important;}
table.discount tr td.deleteTD {background-color:#fcc!important;}
table.discount tr td:first-child,table.discount tr:first-child td{font-weight:bold;background-color:#e8e8e8;color:#000;}
.discount .inputButton,.discount .textareaButton,.discount .colorButton {position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background:rgba(0,0,0,0.0);cursor:pointer;display:none;}
.discount .inputButton img,.discount .textareaButton img,.discount .colorButton img{padding:8px;background-color:rgba(0,0,0,0.8);border-radius:50%;margin:-18px 0px;width:20px;height:20px;position:relative;top:50%;}
.discount .input {position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:left;background:#fff;padding:4px 8px;display:none;z-index:10;}
.discount .inputTD .close:hover {color:#000;}
.discount .color .colorShow{opacity:0.9;cursor:pointer;position:relative;border-radius:4px;border:1px solid #000;width:50px;height:20px;}
.discount .color .colorShow:hover{opacity:1;}
.discount .addProd,.discount .addCust{display:inherit;cursor:pointer;padding:8px 12px;border:1px solid #000;background-color:#333;color:#fff;margin:2px 4px;text-align:center;line-height:20px;}
.discount .addProd:hover,.addCust:hove{opacity:0.8;}
.discount .addButton{font-family:fantasy;color:#000;display:inline-block;text-align:center;vertical-align:middle;line-height:16px;font-size:18px;padding:4px;margin:2px 6px 2px 0px;width:16px;height:16px;background-color:#fff;border-radius:50%;}
.discount .addProd:hover .addButton,.discount .addCust:hover .addButton{color:#fff;background-color:#0f0;}
.discount .colpick_dark {margin: -80px 0px 100px 70px;}
.discount .deleteCust,.discount .deleteProd {border:1px solid #333;cursor:pointer;font-family:monospace;color:#333;display:inline-block;text-align:center;vertical-align:middle;line-height:16px;font-size:12px;padding:4px;margin:2px 6px 2px 0px;width:16px;height:16px;background-color:transparent;border-radius:50%;}
.discount .deleteCust:hover,.discount .deleteProd:hover {color:#fff;background-color:#f33;}
.discountBlackBox .close,.discount  .close{position:absolute;top:0px;right:0px;text-align:center;background:transparent;color:#555;padding:4px;display:none;z-index:10;font-size:16px;cursor:pointer;}
.discountBlackBox .close {font-size:22px;top:10px;right:10px;color:#aaa;}
.discountBlackBox .close:hover {color:#fff;}
.discountBlackBox{display: none;position: absolute;padding: 0px;margin: 0px;top: 0px;left: 0px;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6);overflow: hidden;z-index: 100;}
.discountBlackBox .rtBox{position:relative;margin:100px -400px;left:50%;display: inline-block;}