.dropzone-previews{width:278px;border:1px solid #333;padding:10px;position:relative;background-color:#fff;}
.dz-message{margin:8px 0px;padding:8px 12px;font-size:14px;line-height:14px;}
.dz-error img{display:none;}
.dz-error-message{display:block;}
.dz-filename{display:none;}
.dz-size{display:none;}
.dz-success-mark{display:none;}
.dz-error-mark{display:none;}
.dz-details img{display:none;}
.dz-details img,.logotypePreview{position: relative;max-width:260px;max-height:80px;width:auto;}
div.img-delete{display:inline-block;cursor:pointer;margin:6px 0px;}
.dz-progress{height: 16px;display: none;background: #FFF;overflow: hidden;border-radius: 10px;border: 1px solid #333;margin: 6px 20px 6px 0px;}
.dz-upload{width: 100%;display: block;display: none;position: relative;height: 16px;background: #090;}
.blackbox {display:none;position:fixed;left:0%;top:0%;width:100%;height:100%;margin:0px;padding:0px;background:rgba(0,0,0,0.8);z-index:1500;overflow:auto;}
.buttonBox {position:relative;bottom:0px;margin:0px 0px 0px 0px;letter-spacing: 1.2px;display: block;vertical-align: top;z-index: 100;background-color: #fff;padding: 6px 0px 6px 0px;font-size: 12px;}
.buttonBox  > div{white-space: pre-line;cursor: pointer;position: relative;display: inline-block;vertical-align: middle;margin: 0px;padding: 4px 6px 4px 6px;}
.buttonBox >div:not(:last-child) {border-right: 1px solid #999;}
.buttonBox >div.disable {color: #aaa;cursor: default;}
.buttonBox >div.updateImageInfoText.green {color: #090;cursor: default;}
.buttonBox >div.updateImageInfoText.red {color: #900;cursor: default;}
.buttonBox > textarea {resize: none;height:40px;width:100%;display:block;}
.thumbs_file .loadingBox{height:28px;width:28px;position:fixed;top:50%;left:50%;margin:-14px;}
.thumbs_file .loadingBox img{height:28px;width:28px;position:relative;}
.thumbs_file{height:290px;overflow-y: auto;}
.thumbs_file .thumbs_f{border: 1px solid #f0f0f0;width: 24%;padding: 12% 0px;height: 0px;background-size: contain;background-position: center center;cursor: pointer;display: inline-block;position: relative;background-repeat: no-repeat;margin: 0px 4px 4px 0px;vertical-align: top;box-sizing: border-box;overflow: hidden;}
.thumbs_file .thumbs_f.small{width: 12%;padding: 6% 0px;height: 0px;margin: 0px 0px;}
.thumbs_file .thumbs_f.normal{width: 24%;padding: 12% 0px;height: 0px;margin: 0px 0px;}
.thumbs_file .thumbs_f.medium{width: 48%;padding: 24% 0px;height: 0px;margin: 0px 0px;}
.thumbs_file .thumbs_f.large{width: 60%;padding: 30% 0px;height: 0px;margin: 0px 15% 0px 15%;}
.thumbs_file .thumbs_f:not(.last_active):hover{border:1px solid #ccc;}
.thumbs_file .thumbs_f.last_active{border:1px solid #000;background-color:#f8f8f8;}
.thumbs_file .thumbs_f .tick{position:absolute;right:0px;top:0px;margin:2px;border-radius:50%;border:1px solid #808080;width:12px;height:12px;padding: 2px;color: #fff;font-size: 10px;text-align: center;}
.thumbs_file .thumbs_f:not(.active) .tick{background:#fff;display:none;}
.thumbs_file .thumbs_f.active .tick:before{content:"✓"}
.thumbs_file .thumbs_f.active .tick{background:#4CAF50;}
.thumbs_file .thumbs_f.small .tick{width:8px;height:8px;padding: 1px;line-height:8px;font-size: 8px;}
.thumbs_file .thumbs_f.normal .tick{width:12px;height:12px;padding: 2px;line-height:12px;font-size: 10px;}
.thumbs_file .thumbs_f.medium .tick{width:20px;height:20px;padding: 3px;line-height:20px;font-size: 14px;}
.thumbs_file .thumbs_f.large .tick{width:28px;height:28px;padding: 6px;line-height:28px;font-size: 16px;}
.thumbName {position: absolute;bottom: 0px;font-size: 12px;padding:8px 6px 12px 6px;box-sizing:border-box;color:#a8a8a8;width: 100%;word-wrap: break-word;background: rgba(255, 255, 255, 0.9);}
.thumbs_file .thumbs_f.small .thumbName{font-size:8px;line-height:8px;}
.thumbs_file .thumbs_f.large .thumbName{font-size:18px;line-height:18px;}
.selectedThumbsInfo{font-size:12px;color:#909090;line-height:12px;margin-bottom: 12px;}
.thumbs_file .thumbs_f:hover .thumbName{background: #f0f0f0;color:#909090;}
#confirmBox {padding:30px 25px;position:fixed;left:50%;top:50%;width:400px;height:80px;margin:-40px -200px;background:#fff;border:2px solid #000;z-index:100;}
#confirmBox .confirmButton{cursor:pointer;display:inline-block;padding:8px 12px;background:#333;color:#fff;}
#confirmBox .confirmButton.right{float:right;}
#confirmBox .confirmButton.center{margin: 0px -25px;position: absolute;width: 50px;left: 45%;}
.blackbox .uploadbox-container{position:relative;width:90vw;height:90vh;margin:2vh 2vw;min-height:600px;min-width:600px;display:inline-flex;}

.blackbox .upload-box {flex:3;padding:20px 25px 20px 25px;position:relative;display:inline-block;float:left;background:#fff;border:0px solid #000;border-right:1px solid #000;z-index:100;}

.dropzone {flex:1;padding: 20px;position: relative;float:right;display:inline-block;max-width: 160px;margin:0px 10px;background: #FFF;border: 5px solid #fff;z-index: 110;}
.dropzone:hover {border: 5px solid #999;}
.dropzoneGeneralButton {margin:2px;display:inline-block;cursor:pointer;padding:8px 12px 8px 12px;line-height:20px;background-color:#333;background-repeat:no-repeat;background-size: contain;background-position: center center;color:#fff;}
.dropzoneGeneralButton:hover {opacity:0.9;}
.dropzone:not(#userUpdate) div.dropzone-previews {display:none;}
div.dz-message {cursor:pointer;padding:30px 10px 20px 0px;font-weight:100;}
.searchDropzone {vertical-align:top;border:1px solid #999;outline:none;display:inline-block;position:relative;background:#fff;z-index:110;font-size: 14px;color: #999;margin:0px 0px 12px 0px;padding: 4px 10px 4px 37px;width: 50%;background: #fff url("../webImages/search.png") 15px center  / 12px 12px no-repeat;line-height: 18px;box-sizing: border-box;}
.zoomBoxDropzone {vertical-align:top;text-align:right;display:inline-block;position:relative;background:#fff;z-index:110;margin:0px 0px 12px 0px;padding: 0px 10px 0px 37px;width: 50%;background: #fff;line-height: 18px;box-sizing: border-box;}
.zoomBoxDropzone .zooms{cursor:pointer;margin:0px 0px 0px 14px;padding:3px;font-weight:bold;display:inline-block;background:#303030;font-size: 16px;text-align:center;line-height:18px;color: #fff;width:18px;height:18px;}
.zoomBoxDropzone .zooms:not(.disable):hover{opacity:0.9;}
.zoomBoxDropzone .zooms.disable{opacity:0.3;}
.zoomBoxDropzone .zooms.zoomin:before{content:"+";line-height: 18px;vertical-align:top;}
.zoomBoxDropzone .zooms.zoomout:before{content:"-";line-height: 16px;vertical-align:top;}
.userSettings  .dropzone-previews{width:278px;height:50px;border:1px solid #333;padding:10px;position:relative;}
.userSettings  .dz-message{margin:8px 0px;}
.userSettings  .dz-error img{display:none;}
.userSettings  .dz-error-message{display:block;}
.userSettings  .dz-filename{display:none;}
.userSettings  .dz-size{display:none;}
.userSettings  .dz-success-mark{display:none;}
.userSettings  .dz-error-mark{display:none;}
.dz-details img{display:none;}
.dz-details img,.logotypePreview{position: relative;max-width:260px;max-height:80px;width:auto;}
.userSettings  .img-delete{display:table;cursor:pointer;margin:6px 0px;}
.userSettings  .dz-progress{height: 16px;width: 278px;display: none;background: #FFF;overflow: hidden;border-radius: 10px;border: 1px solid #333;margin: 6px 0px;}
.userSettings  .dz-upload{width: 100%;display: block;display: none;position: relative;height: 16px;background: #333;}