@font-face {
  font-family: 'datafonts';
  src:  url('fonts/datafonts.eot?eeed4b');
  src:  url('fonts/datafonts.eot?eeed4b#iefix') format('embedded-opentype'),
    url('fonts/datafonts.ttf?eeed4b') format('truetype'),
    url('fonts/datafonts.woff?eeed4b') format('woff'),
    url('fonts/datafonts.svg?eeed4b#datafonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before{
    display: block;
    content: "!";
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'datafonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
    content: "X";
}
.icon-tick:before {
    content: "\2713";
}


.icon-asfaltos:before {
  content: "\e904";
}
.icon-rixa-nera:before {
  content: "\e937";
}
.icon-accommondation:before {
  content: "\e900";
}
.icon-activities:before {
  content: "\e901";
}
.icon-ammos:before {
  content: "\e902";
}
.icon-apanemi:before {
  content: "\e903";
}
.icon-automoto:before {
  content: "\e905";
}
.icon-back:before {
  content: "\e906";
}
.icon-badroad:before {
  content: "\e907";
}
.icon-beachbar:before {
  content: "\e908";
}
.icon-beaches:before {
  content: "\e909";
}
.icon-camping:before {
  content: "\e90a";
}
.icon-coffee:before {
  content: "\e91d";
}
.icon-down:before {
  content: "\e91e";
}
.icon-entertainment:before {
  content: "\e91f";
}
.icon-events:before {
  content: "\e920";
}
.icon-food:before {
  content: "\e921";
}
.icon-kaiki:before {
  content: "\e922";
}
.icon-kantina:before {
  content: "\e923";
}
.icon-natural-shadow:before {
  content: "\e924";
}
.icon-nearby:before {
  content: "\e925";
}
.icon-ntouz:before {
  content: "\e926";
}
.icon-nude:before {
  content: "\e927";
}
.icon-ombrella:before {
  content: "\e928";
}
.icon-organized:before {
  content: "\e929";
}
.icon-pezoporia:before {
  content: "\e92a";
}
.icon-phone2:before {
  content: "\e92b";
}
.icon-region:before {
  content: "\e92c";
}
.icon-rocks:before {
  content: "\e92e";
}
.icon-search:before {
  content: "\e92f";
}
.icon-sightseeing:before {
  content: "\e930";
}
.icon-sports:before {
  content: "\e931";
}
.icon-surf:before {
  content: "\e932";
}
.icon-user:before {
  content: "\e933";
}
.icon-votsalo:before {
  content: "\e934";
}
.icon-water-sports:before {
  content: "\e935";
}
.icon-xaliki:before {
  content: "\e936";
}
.icon-office:before {
  content: "\e90b";
}
.icon-pencil:before {
  content: "\e90c";
}
.icon-image:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90e";
}
.icon-connection:before {
  content: "\e943";
}
.icon-library:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e910";
}
.icon-floppy-disk:before {
  content: "\e918";
}
.icon-undo2:before {
  content: "\e944";
}
.icon-reply:before {
  content: "\e919";
}
.icon-spinner11:before {
  content: "\e91a";
}
.icon-cog:before {
  content: "\e911";
}
.icon-cogs:before {
  content: "\e91b";
}
.icon-glass2:before {
  content: "\e912";
}
.icon-spoon-knife:before {
  content: "\e913";
}
.icon-bin:before {
  content: "\e91c";
}
.icon-accessibility:before {
  content: "\e914";
}
.icon-menu:before {
  content: "\e915";
}
.icon-sphere:before {
  content: "\e916";
}
.icon-earth:before {
  content: "\e917";
}
.icon-arrow-left:before {
  content: "\e945";
}

