﻿.click.foreignKey{display:none;}
.foreignHtmlBox .click{cursor:pointer;}
.foreignHtmlBox {max-width: 1380px;overflow-x: auto;}
.foreignHtmlBox  .table tr:not(.heading):hover {background-color:#333;color:#fff;}
.foreignHtmlBox  .table tr.add-new {background-color:#205528;color:#fff;cursor:pointer;
-webkit-transition: all ease 500ms;-moz-transition: all ease 500ms;-o-transition: all ease 500ms;-ms-transition: all ease 500ms;transition: all ease 500ms;}
.foreignHtmlBox  .table tr.add-new:hover {background-color:#4DDD8B;color:#000;}
.foreignHtmlBox  .table tr.select-empty {background-color:#552020;color:#fff;cursor:pointer;
-webkit-transition: all ease 500ms;-moz-transition: all ease 500ms;-o-transition: all ease 500ms;-ms-transition: all ease 500ms;transition: all ease 500ms;}
.foreignHtmlBox  .table tr.select-empty:hover {background-color:#DD4D4D;color:#000;}



