.matrix {position:relative;}
.canvasBox {position:absolute;}
.graphValue{display:inline-block;vertical-align:top;margin:0px 22px;}
.myCanvas{width:400px;height:400px;display:inline-block;background-color:#FFF;vertical-align:top;border:1px solid #CCC;padding: 0px 16px 12px 12px;}
#div_canvas {position:absolute;top:0px;left:0px;}
.dynamicSpanSide {position:absolute;text-align: right;font-size:12px;color:#808080;}
.dynamicSpanBottom {position:absolute;text-align: right;font-size:12px;color:#808080;bottom:12px;}
.table td.tdHeading {padding:12px 0px;text-align:center;font-size:16px;color:#909090;background:#C0C0C0;}