﻿.photoBox{float:right;position:relative;}
.photoBox .clearButton{position:absolute;right:4px;top:4px;background:transparent;border-radius:50%;background:rgba(0,0,0,0.5);width:20px;height:20px;text-align:center;line-height:20px;padding:8px;}
.photoBox .clearButton:hover{background:rgba(0,0,0,1);}

.pictureBox{width:100%;height:200px;position:relative;border:0px;padding:0px;margin:0px 0px 20px 0px}
.slideshow{position:relative;width:100%;height:180px;left: 0px;top: 0px;position: absolute;border-radius: 1px;background-color: #fff;border: 1px solid #ccc;margin: 0px;overflow: hidden;}
.image_large_window{position: absolute;top: 0%;left: 0%;width: 100%;height:86%;overflow: hidden;}
.buffer_image_large{display: none;position: absolute;top: 0%;left: 0%;width: 100%;height: 100%;overflow: hidden;background-repeat: no-repeat;background-size: contain;background-position: center center;}
.image_large_view{cursor: pointer;position: absolute;top: 0%;left: 0px;width: 100%;height: 100%;float: left;background-repeat: no-repeat;background-size: contain;background-position: center center;}
.slide_button{background-position: center;background-repeat: no-repeat;background-size: 80%;bottom: 1%;position: absolute;z-index: 10;float: left;width: 1%;height: 7%;background-color: #f0f0f0;border: 1px solid #aaa;opacity: 0.9;text-align: center center;font-family: Verdana;font-size: 15pt;}
.slide_button:hover{opacity: 0.2;cursor: pointer;}
.left_slide{background-image: url('../left.png');border-bottom-right-radius: 90% 20%;border-top-right-radius: 90% 20%;left: -1px;}
.right_slide{background-image: url('../right.png');border-bottom-left-radius: 90% 20%;border-top-left-radius: 90% 20%;right: -1px;}
.thumb_container{position: absolute;bottom: 2px;left: 0%;width: 100%;height: 30px;overflow: hidden;background-color: #f0f0f0;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.thumb_slide_window{box-sizing: border-box;position: relative;top: 0%;left: 0%;display: inline-block;padding:4px;border-radius: 0px;overflow: hidden;}
.thumbs{cursor:pointer;display: inline-block;margin-right: 0px;opacity: 0.3;width:22px;height: 22px;overflow: hidden;background-repeat: no-repeat;background-size: contain;background-position: center center;}
.thumbs.active_photo{opacity:1;border: 1px solid #333;}
.fullscreen .close{cursor: pointer;display: none;background-position: center center;background-repeat: no-repeat;background-size: contain;background-image: url('../webImages/x1.jpg');top: 0%;right: -1%;width: 5%;height: 5%;position: absolute;}
.thumbs{border: 1px solid #ccc;opacity: 0.60;}
.thumbs:hover{opacity: 1;}

.slideshow.one-picture {height:160px;}
.slideshow.one-picture .thumb_container{display:none;}


.fullscreen {z-index: 1100;position: fixed;top: 0px;left: 0px;margin: 0px;padding: 40px 40px 80px 40px;box-sizing:border-box;background-color: rgba(0, 0, 0, 0.8);width: 100%;height: 100%;vertical-align: middle;display: block;display: none;}
.fullscreen > .loadingBox {max-width: 90%;text-align:center;left: 50%;top: 50%;-webkit-transform: translateX(-50%) translatey(-50%);-moz-transform: translateX(-50%) translatey(-50%);transform: translateX(-50%) translatey(-50%);display:inline-block;min-width:120px;min-height:120px;margin: auto;position: relative;background: #FFF url('../webImages/loading.gif') center center/30px 30px  no-repeat ;}
.fullscreen .photo, .fullscreen .close_photo {transition: top 1s,left 1s,width 1s, height 1s;-moz-transition: top 1s,left 1s,width 1s, height 1s;-webkit-transition: top 1s,left 1s,width 1s, height 1s;-o-transition: top 1s,left 1s,width 1s, height 1s;}
.fullscreen .photo{min-width:120px;min-height:120px;}
.fullscreen .photo:focus{outline:none;}
.fullscreen .photo_right {top: 50%;right: 0px;width: 40px;height: 40px;position: absolute;margin: -20px 0px;}
.fullscreen .photo_left {top: 50%;left: 0px;width: 40px;height: 40px;position: absolute;margin: -20px 0px;}
.fullscreen .close_photo {cursor: pointer;z-index: 1110;position: absolute;width: 40px;height: 40px;right: -20px;top: -20px;display: none;}
.fullscreen .photoInfo {color: #FFF;font-size: 12px;position: absolute;bottom: -20px;}
.fullscreen .commentBox {background:#fff;font-size: 14px;padding:12px 22px;}
.fullscreen .commentBox.disable {color:#999;}

