.table_login td{padding: 4px;width: 200px;color: #fff;}
.loginBox {    background: rgba(0, 0, 0, 0.2);
    padding: 40px 0px 40px 0px;
    margin-top: 50px;
    border-top: 1px solid rgba(204, 204, 204, 0.2);
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);}
.buttonLogin{display: block;cursor: pointer;margin: 0px;color: #FFF;background-color: rgba(51, 51, 51, 0.5);min-width: 100px;padding: 8px 12px;line-height: 24px;border-radius: 0px;height: 22px;border: none;vertical-align: top;}
.wrongMsg {background-color: #F33;color: #eee;padding: 10px 22px;}