.button a{color:#fff!important;}
.body{width:934px;margin:0px 0px 0px 300px;position:relative;padding:0px 0px;}
.inline{display:inline-block;vertical-align:top;background-color:rgba(255,255,255,0.6);border:1px solid #333;border-top:0px;}
.clearDiv{clear:both;display:block;padding:0px 0px;}
.right{float:right;}
.input{padding: 6px 16px;vertical-align:top;border:1px solid #999;line-height: 16px;background: #fff;}
.input:focus{outline: 0px;border: 1px solid #000;}
.colorSelect{float:right;width:60px;height:30px;margin:5px;	border:1px solid #000;border-radius:5px;}

.table{display: inline-block;padding: 15px 6px 20px 6px;border: 0px solid #333;background: #f0f0f0;max-width: 1400px;min-width: 600px;margin-left:0px;vertical-align:top;margin:12px;}
.table > tbody{display: inline-table; width: 100%;}
.table > tbody > tr > td {background-repeat: no-repeat;background-position: center center;background-size: 30px 30px;padding: 6px 8px;min-width: 12px;border-bottom: 1px solid #999;vertical-align:middle;}
.table > tbody > tr > td:first-child{padding-left:0px;}
.table > tbody > tr > td:last-child{padding-right:0px;}
.table > tbody > tr > td.minWidth {min-width: 60px;}
.table > tbody > tr > td.minWidth.categ_project {min-width: 130px;}
.table > tbody > tr.noBorder > td {border-bottom:0px solid #000;vertical-align:top;}
.foreignHtmlBox .table > tbody > tr > td:first-child{padding-left:8px;}
.foreignHtmlBox  .table > tbody > tr > td:last-child{padding-right:8px;}
.table .jsbutton + span {display:inline-block;vertical-align: top;line-height: 34px;}
.table:not(.relative) tr:first-child td{border-bottom: 2px solid #333;font-weight: bold;}
.table tr.heading td{font-weight: bold;padding:8px 12px 16px 12px;border-bottom: 0px solid #333;}
.table tr:last-child td{border-bottom: 0px solid #333;}
.table tr .field-name.invalid{color:#f00;}
.fix_width{width: 800px;}
.table input.photo.max {display:none;}
.table select{float:right;padding: 7px 12px;}
.table select:focus{outline: 0px;border: 1px solid #000;}
.table .ghostsImages{max-width:120px;max-height:80px;width:auto;height:auto;border-radius:10px;margin:12px 0px;}
.windowBox .windowTitle {position:relative;display:block;line-height: 18px;white-space: nowrap;text-overflow: ellipsis;padding: 16px 12px;background: #333;color: #FFF;}
.windowBox .windowTitle:before {content:"";position: absolute;left:-21px;border-left: 20px solid transparent;border-top: 50px solid #333;height: 0px;width: 0px;top:0px;box-sizing: border-box;}
.windowBox .reload-button { float: right; cursor: pointer;}

.table .sorted[class*=" icon-"] span{display:inline-block;max-width:80%;}
.table .sorted[data-field-sort]:before{display:inline-block;float:right;}

.max{border:1px solid #ccc;border-radius:2px;text-align: left;width: 100%;padding-right:8px;}
.center-text{text-align:center;}
.left-text{text-align:left;}
.right-text{text-align:right;}
.dateButton{background: #333;color:#eee;float: right;text-align: center;margin: 0px;cursor:pointer;border:1px solid #303030;outline:none;}

.language-button-input.input{background: #333;color:#eee;float: left;text-align: center;margin: 0px;cursor:pointer;border:1px solid #303030;outline:none; position: relative;}
.language-button-input.input:after{content: " ";display: inline-block;position: absolute;bottom: 0px;left: 0px;width: 100%;height: 4px;background-color: #660;}
.language-button-input.input:hover:after{background-color: #cc7;}
.language-button-input.input.active:after{background-color: #ff0;}
.language-button-box:after{content: " ";display:block;clear: both;}
.language-input-box:before{content: " ";display:block;clear: both;}
.language-input-box{display: none;}
.language-input-box.active{display: block;}


.googleMapViewSearch{background: #333;color:#eee;float: right;text-align: center;margin: 0px;cursor:pointer;border:1px solid #303030;outline:none;}
.max_button:active,.max_button:hover{color:#fff;}
.foreign_value{display:none;}
.frameForeign{max-height:400px;border:none;width:100%;}
.foreignButton{float: right;display: inline;width:28px;height:28px;line-height:28px;background:#333;font-size:20px;color: #CCC;font-family: Arial Black;vertical-align: middle;text-align: center;margin: 0px 0px 0px 20px;}
.foreignBox{border: 1px solid #CCC;line-height:28px;padding:0px 0px 0px 20px;background:#FFF;text-align:right;display:block;cursor:pointer;position:relative;}
.popUpButton{float: right;display: inline;width:28px;height:28px;line-height:28px;background:#333;font-size:20px;color: #CCC;font-family: Arial Black;vertical-align: middle;text-align: center;margin: 0px 0px 0px 20px;}
.popUpBox{border: 1px solid #CCC;line-height:28px;padding:0px 0px 0px 20px;background:#FFF;text-align:right;display:block;cursor:pointer;position:relative;}
.foreignHtmlBox table {width:100%;border-radius:0px;background: #fff;margin:0px;border:0px;padding: 12px 0px 22px 0px;box-shadow:0px 0px 0px #000;}
.upload_image{float:right;border: 1px solid #ccc;width: 150pxbackground-size: contain;background-position: center;background-repeat: no-repeat;}
.upload_image:not(.hasPhoto):before{content:"Επιλογή εικόνας";}
.upload_image.hasPhoto{height:80px;width:220px;}
.photoBox .upload_image + .clearButton{display:none;}
.photoBox .upload_image.hasPhoto + .clearButton{display:inline-block;}
.clear{height: 30px;width: 120px;display: inline-block;float: none;cursor: pointer;text-align: center;margin: 2px;color: #fff;border-radius: 5px;background: #039;vertical-align: middle;padding: 4px;}
.clear:hover{background: #002888;}

#show_val{position: absolute;top: 500px;left: 400px;width: 800px;height: 500px;border: 0px;}
#view{margin: 0px;padding: 0px;position: absolute;width: 500px;height: 500px;border: 0px;left: 500px;top: 0px;}
#view_all{margin: 0px;padding: 0px;position: absolute;width: 500px;height: 500px;border: 0px;left: 1100px;top: 0px;}
#date{width: 100%;font-weight: bold;}
#time{color: #333;font-weight: bold;}
#body{color: #c60;margin: 0px;padding: 1% 2% 2% 3%;background-color: #f93;border: 2px dashed #c60;width: 95%;}
#unautorized_div{overflow: hidden;position: absolute;right: 0%;top: 0%;height: 15%;width: 15%;}
#unautorized{letter-spacing: 2px;text-align: center;position: fixed;right: -82px;top: 33px;height: 60px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);transform: rotate(45deg);border: 1px solid blue;background: #900;color: white;width: 263px;padding: 0px 25px;}
.tr_show{float: right;display: inline;width: 16px;height: 16px;border: 1px solid #039;background: #00a;font-size: 12px;color: #ccc;font-family: Arial Black;vertical-align: middle;text-align: center;}
.tr_show:hover{opacity: 0.85;}

#table_prod{padding: 20px 20px 40px 20px;width: 940px;}
#table_prod td:first-child{width: 400px;}
#table_prod td:nth-child(2){width: 250px;}
#table_prod td:nth-child(32){width: 150px;}
.prod_title{width: 100%;text-align: center;color: #333;font-weight: bold;padding: 5px;display: block;}
.prod_adv{position: absolute;float: left;width: 140px;height: 40px;background-size: contain;background-repeat: no-repeat;}
.prod_description{width: 100%;font-family: Arial;}
.prod_price{font-weight: bold;text-align: center;width: 100%;}
.prod_quarantee{text-align: center;width: 100%;}
.prod_price_quarantee{background: #c0c0c0;background: -moz-linear-gradient(top,  #c0c0c0 10%, #ffffff 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#c0c0c0), color-stop(100%,#ffffff));background: -webkit-linear-gradient(top,  #c0c0c0 10%,#ffffff 100%);background: -o-linear-gradient(top,  #c0c0c0 10%,#ffffff 100%);background: -ms-linear-gradient(top,  #c0c0c0 10%,#ffffff 100%);background: linear-gradient(top,  #c0c0c0 10%,#ffffff 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#ffffff',GradientType=0 );}
.prod_button{cursor: pointer;display: inline-block;color: #333;width: 223px;text-align: center;line-height:28px;border: 1px solid #ccc;border-bottom: 0px solid #ccc;background: #ddd;}
.prod_button_active{background: #fff;}
.prod_button:hover{background: #999;}
.prod_menu{padding: 40px 20px 10px 20px;border: 1px solid #ccc;border-top: 0px solid #ccc;}
.prod_menu_div{display: none;}
#table_product_attributes{background-color: #transparent;width: 100%;padding:0px 0px 40px 0px;}
#table_product_attributes td{border-bottom:1px dotted #ccc;line-height:22px;padding:4px 10px 4px 10px;}
.search2 {z-index:100;color: #999;padding: 0px 10px 0px 37px;width: 313px;border: none;border-radius: 8px;background: url("../search.jpg") 15px 2px no-repeat;background-color: white;background-size: 12px 12px;line-height: 18px;margin-top: 5px;}
.editAttr .mceEditor > table {width: 200px !important;}
.catProdTable .mceEditor > table {width: 776px !important;}
.newsProdTable .mceEditor > table {width: 726px !important;}
.newsTable .mceEditor > table {width: 937px !important;}
.rel_ID{display:none;}

.color-box {display:inline-block;position:relative;width:22px;height:22px;border-radius:50%;}
.colorSelect{float:right;width:60px;height:30px;margin:5px;	border:1pxsolid#000;border-radius:5px;}
select.float-right{float:right;}
.defaultSkin{float:right;}
.foreign_value{display:none;}
.frameForeign{max-height:400px;border:none;width:100%;}
.click.foreignKey{display:none;}
.foreignHtmlBox .click{cursor:pointer;}
.foreignHtmlBox {max-width: 1380px;overflow:auto;max-height: 400px;}

.products{background:#fff;padding:0px;}
.product_tables {display:block;padding:8px 12px;margin-bottom:-1px;}
.product_tables:not(:last-child) {border-bottom:1px dotted #ccc;}
.prod_value,.tableName{display:inline-block;cursor:pointer;font-weight:normal;width:200px;}
.prod_value{display:none;}
.product_tables:not(.active) .tableName:hover{color:#555;}
.active .tableName{font-weight:bold;color:#111;}

.relation_select{cursor:pointer;display:block;padding:8px 12px;margin-bottom:-1px;}
.relation_select:not(:last-child){border-bottom:1px dotted #ccc;}
.relation_select:hover{background:#f6f6f6;}
.relation_select.active{font-weight:bold;}
.relation_select .rel_ID,.rel_name,.relation_select .rel_code{display:inline-block;cursor:pointer;}
.relation_select .rel_ID{display:none;}
.relations_product{background:#fff;padding:0px;}
.rel_code {float:right;}

.allWindowBoxes.active-side-menu{margin-left: 200px;}
.allWindowBoxes{padding: 80px 0px 0px 0px;position: relative;}
.allWindowBox{white-space: nowrap;position:relative;vertical-align:top;display:none;margin-left:0px;}
.allWindowBox.active{display:inline-block;}
.windowBox {white-space: nowrap;display:none;min-height:80px;min-width:100px;background:transparent;border:0px solid #ccc;position:relative;vertical-align:top;padding: 0px 0px 0px 180px;}
.windowBox.active{display:inline-block;}
.windowBox .loading{background:transparent url('../webImages/loading.gif') 0px 0px/22px 22px;display:inline-block;margin-right:12px;position:relative;width:22px;height:22px;}
.windowBox .loading:after{content:'Φόρτωση σελίδας.';display:inline-block;padding:0px 6px 0px 22px;line-height:22px;}
.windowBox form {margin:0px;padding:0px;background-color:rgba(255,255,255,0.4);border:0px solid #ccc;}
.windowBox.loadingWindow{background-color:rgba(255,255,255,0.6);padding:120px;max-width:20px;display:inline-block;position:relative;border:1px solid #ccc;margin:0px 12px;}
.windowBox .window-loader-box{background:rgba(255,255,255,0.6) url("../webImages/loading.gif") center center / 22px 22px no-repeat;display:none;position:absolute;top:0px;left:0px;width:100%;height:100%;}

.googleMap{float:right;width:480px;height:340px;position:relative;display:block;margin:12px 0px;border:1px solid #ccc;}
.googleMap + input{display:none;}
.pac-input {background-color: #fff;font-family: Roboto;font-weight: 300;text-overflow: ellipsis;width: 370px;margin:12px 12px;}
.pac-container {font-family: Roboto;}

.page-select{margin-left:6px;cursor:pointer;display: inline-block;vertical-align:top;}
.page-index{margin-left:6px;cursor:pointer;display: inline-block;vertical-align:top;}
.page-index:hover{border-color:#505050;background:#505050;color:#fff;}
.page-index.active{border-color:#303030;background:#303030;color:#fff;}

.respone-import .isInvalid{color:#f00;}
.respone-import .isOK{color:#0f0;}
.respone-import .isOK:after{content:"Ok" ;color:#0f0;}