.mainMenu .menuButton {position:relative;padding:0px;cursor:pointer;margin:0px 0px 0px 0px;display:inline-block;vertical-align:top;width:40px;height:52px;border-right: 1px groove #444;}
.mainMenu .userBox {position:absolute;right:0px;top:0px;background-color:#333;color:#f0f0f0;text-align:right;padding:0px;margin:0px 0px 0px 8px;display:inline-block;vertical-align:top;}
.mainMenu .userBox > li.userNickname:before{line-height:24px;font-size:18px;vertical-align:top;display:inline-block;vertical-align:middle;width:24px;height:24px;padding:0px 0px;opacity:1;border:0px solid #555;margin:0px 12px 0px 0px;background:transparent;}
.mainMenu .userBox > li.userNickname:after{content: "\e91e";display: inline-block;vertical-align: top;margin: 0px 0px 0px 6px;line-height: 24px;font-size: 20px;}
.mainMenu .userBox > li{display:block;margin: 11px 12px;}
.mainMenu .userBox > li ul{display:none;padding:6px 8px;list-style-type: none;}
.mainMenu .userBox:hover ul{display:block;}
.mainMenu .userBox > ul li{display:none;padding:6px 8px;list-style-type: none;}

.mainMenu{position: fixed;width: 100%;box-sizing: border-box;margin: 0px 0px 20px 0px;vertical-align:top;z-index: 200;display:block;background-color: #333;border-bottom: 1px solid #999;padding: 0px 200px 0px 0px;}
.mainMenu .button,.mainMenu .button-like{display: inline-block;cursor: pointer;text-align: left;margin: 0px;color: #FFF;background-color: #333;padding: 6px 12px;min-width:100px;line-height: 12px;position:relative;}
.mainMenu .button:not(:last-child),.mainMenu .button-like:not(:last-child){border-right: 1px groove #444;}
.mainMenu .button:hover,.mainMenu .button-like:hover{background-color: #333;}
.mainMenu .button:before,.mainMenu .button-like:before{display:inline-block;vertical-align:middle;color:#fff;
width:24px;height:24px;padding:8px;opacity:1;border-radius:50%;border:0px solid #555;margin:0px 4px 0px 0px
;background-size:24px 24px;background-position:center center;background-repeat:no-repeat;color:#fff;font-size:18px;line-height:18px;text-align:center;}
.mainMenu .button.active:after,.mainMenu .button-like.active:after{content:" ";display:inline-block;position:absolute;bottom:0px;left:0px;width:100%;height:4px;background-color:#ff0;}
.mainMenu .button:not(.active):after,.mainMenu .button-like:not(.active):after{content:" ";display:inline-block;position:absolute;bottom:0px;left:0px;width:100%;height:4px;background-color:#660;}
.mainMenu .button:not(.active):hover:after,.mainMenu .button-like:not(.active):hover:after{content:" ";display:inline-block;position:absolute;bottom:0px;left:0px;width:100%;height:4px;background-color:#cc7;}

.mainMenu .button-like ul{display:none;position:absolute;padding:0px;margin:6px 0px 0px -13px; z-index: 10; border: 1px solid #000;}
.mainMenu .button-like li{display:block;list-style-type: none;}
.mainMenu .button-like li .button{display:block;white-space: nowrap;}
.mainMenu .button-like:hover ul{display:block;}
.mainMenu .button.button-block{display:block;}

