﻿.addFilter:hover{border: 1px solid #000;}
.addFilter{cursor:pointer;display: inline-table;border-radius: 4px;border: 1px solid #777;margin: 0px 10px 8px 0px;padding: 6px 6px 6px 10px;line-height: 12px;}
.addFilter:hover img{background-color:#5c5;border:1px solid #000;}
.addFilter img {width:15px;height:15px;padding:2px;vertical-align: middle;margin-right:5px;cursor:pointer;border-radius:50%;background-color:#ddd;border:1px solid #555;}
.filter select,.filter option ,.filter input {outline:none;padding:12px 16px;margin:0px 10px 0px 0px;}
.hidden {display:none;}
.deleteButton {cursor:pointer;vertical-align: top;display:inline-block;background-color:#fff;text-align:center;border:1px solid #999;width:14px;height:17px;line-height:14px;padding:12px 16px;margin:0px 10px 0px 0px;}
.deleteButton:hover {background-color:#900;color:#fff;}
.filter {margin:8px 0px;}
.filter select{float:none;}
.allValues{vertical-align: top;display:inline-block;}

.usersCount:hover:after{content:' ';margin-left:6px;width: 0;height: 0;border-bottom:6px solid transparent;border-top:6px solid transparent;border-left: 6px solid #000;vertical-align: middle;display: inline-block;}
.usersCount{cursor:pointer;}
.usersCount img {width:16px;cursor:pointer;}
.userList{max-height:600px;overflow-y:auto;padding: 15px 6px 20px 6px;border: 2px groove #FFF;background: #fff;max-width: 1400px;min-width: 600px;margin:50px 300px;}
.userList table tr:not(:last-child) td {border-bottom: 1px solid #f0f0f0;}
.userList table tr.bold  td {font-weight:bold;}
.userList table tr  td.id {display:none;}
.userList table tr  td {padding:4px 8px;}
.userList table {width:100%;}

.userFieldAddButtons{padding: 15px 6px 20px 6px;border: 2px groove #FFF;background: #fff;max-width: 400px;margin:50px 400px;}
.userFieldAdd {background-color:#fff;cursor:pointer;display: inline-table;border-radius: 4px;border: 1px solid #777;margin: 0px 10px 8px 0px;padding: 6px 6px 6px 10px;line-height: 12px;}
.userFieldAddButtons .userFieldAdd:hover {border: 1px solid #000;}
.userFieldAddButtons .userFieldAdd:hover img{background-color:#5c5;border:1px solid #000;}
.userFieldAddButtons .userFieldAdd img {width:15px;height:15px;padding:2px;vertical-align: middle;margin-left:5px;cursor:pointer;border-radius:50%;background-color:#ddd;border:1px solid #555;}

.userField {background-color:#fff;cursor:pointer;display: inline-table;border-radius: 4px;border: 1px solid #777;margin: 0px 10px 8px 0px;padding: 6px 6px 6px 10px;line-height: 12px;}
.userField:hover {border: 1px solid #000;}
.userField:hover img{background-color:#f55;border:1px solid #000;}
iframe .userField img {width:15px;height:15px;padding:2px;vertical-align: middle;margin-left:5px;cursor:pointer;border-radius:50%;background-color:#ddd;border:1px solid #555;}

.emailResultOK{ color:#090;}
.emailResultNot{ color:#900;}

.defaultSkin {float: right;}
.defaultSkin img {max-height:800px;max-width:800px;}
.userSettings tr:hover:not(:first-child) td{background:#f0f0f0;}
.userSettings tr:not(:first-child) td:not(.selection) {cursor:pointer;}
.userSettings tr td {padding:8px 6px;font-size: 14px;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.userSettings td.aa {width:40px;}
.userSettings td.selection {width:40px;}
.userSettings td.id {width:40px;display:none;}
.userSettings td.email {width:40px;}
.userSettings td.firstname {width:40px;}
.userSettings td.surname {width:40px;}
.userSettings td.company {width:40px;}
.img-delete {display:none;}

.blackbox .messageBox {max-height:600px;overflow-y:auto;border: 1px solid #000;position: fixed;top: 60px;left: 0px;padding: 20px 60px;background: #FFF;width: 800px;margin: 0px 300px;}
.blackbox .closeButton {border-radius:50%;cursor:pointer;margin:16px;position:absolute;right:0px;top:0px;width:22px;height:22px;line-height:22px;text-align:center;z-index:10;color:#fff;font-size:18px;}
.blackbox .closeButton:hover {background-color:#fff;color:#000;}
.blackbox .messageBox .bar {overflow:hidden;position:relative;display:block;width:600px;margin:8px 0px;border-radius:10px;height:16px;padding:2px;border:1px solid #ccc;background-color:#f0f0f0;}
.blackbox .messageBox .bar .Ok {border-radius:10px 0px 0px 10px;left:2px;top:2px;position:absolute;height:16px;background-color:#090;}
.blackbox .messageBox .bar .Not {border-radius:0px 10px 10px 0px;right:2px;top:2px;position:absolute;height:16px;background-color:#900;}


.details{cursor:pointer;}
.details.opened:after{content:' ';margin-left:10px;width: 0;height: 0;border-left:6px solid transparent;border-right:6px solid transparent;border-top: 12px solid #000;vertical-align: middle;display: inline-block;}
.details.closed:after{content:' ';margin-left:10px;width: 0;height: 0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom: 12px solid #000;vertical-align: middle;display: inline-block;}