﻿.bgBlack 
	{ position:fixed;left:0px;top:0px;box-sizing:border-box;width:100%;height:100%;padding:80px 60px;background-color:rgba(0,0,0,0.95);
		overflow:auto;z-index:300;text-align: center;}
.bgBlack .windowBoxPopUp:not(.loadingWindow)
	{padding:0px;}
.bgBlack .viewWindow
	{ position:relative;}
.bgBlack .viewWindow .table{ width: 100%;box-sizing: border-box;margin: 0px;min-width:initial;display:inline-table;}
.bgBlack .viewWindow .windowTitle{display:none;}
.bgBlack .submenu
	{position: relative;margin: 0px;height: auto;width: 100%;min-height: initial; display: inline-flex;}
.bgBlack .submenu .button{flex:1;min-width:160px;}
