﻿.sidemenubox {position: fixed;background: #fff;width: 200px;height: 100%;top: 0px;left: 0px;overflow: auto;display:none;}
.sidemenubox ul{display:block;padding:0px 8px 0px 0px;}
.sidemenubox ul li {display:block;padding:0px 0px 0px 8px;position:relative;}
.sidemenubox ul li .button {display:block;padding:6px 0px 6px 8px;cursor:pointer;}
.sidemenubox ul li:after{content: "";position: absolute;left: 0px;width: 6px;height: 100%;top: 0px;background-color: #205528;color: #205528;
-webkit-transition: all ease 500ms;-moz-transition: all ease 500ms;-o-transition: all ease 500ms;-ms-transition: all ease 500ms;transition: all ease 500ms;}
.sidemenubox ul li:hover:after{background-color: #4DDD8B;}

