.background {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    opacity: 0.1;
    z-index: -1;
}
.my-navbar{
	background-color: #0c426f;
	margin: 0 auto;
}
.center-region{
    padding-top: 2em;
    margin: 0 auto;
    width:80%
}

.success-form{
	text-align: center;
    padding-top: 2%;
    color: #28a745;
}

.my-checkbox{
	margin-right: 5px;
}

.search-title {
    font-size: 1.5rem;
}

#thesis-image-gallery .item{
  margin: 3px;
}
#thesis-image-gallery .item img{
  display: block;
  width: 100%;
  height: auto;
}


.thesis-description{
    padding-top: 2%;
    overflow: auto;
    height: 450px;
}

.thesis-info-item{
    background-color: transparent;
}

.animated-modal {
  max-width: 750px;
  border-radius: 4px;
  overflow: hidden;
}